@model IEnumerable<fingerDinglesPOS.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="transaction-history-table">
        <tr>
            <th class="transaction-history-title">
               Transactions
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr class="table-data-transaction-history">
            <td>
                Time: @Html.DisplayFor(modelItem => item.checkoutTime)
            </td>

            @foreach (var thing in item.ProductID)
            {
                <td class="product-float">@thing.ProductName</td><td class="product-float-two">$@thing.SalesPrice</td>
            }
            @foreach (var thing in item.serviceList)
            {
                <td class="product-float">@thing.ServiceName</td><td class="product-float-two">$@thing.SalePrice</td>
            }
            <td>
               Transaction Total: $@Html.DisplayFor(modelItem => item.TransactionTotal)
            </td>
            <td>

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
