@model IEnumerable<fingerDinglesPOS.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.checkoutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionTotal)
            </th>
            <th>
                Products
            </th>
            <th>
                Services
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.checkoutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTotal)
            </td>
            @foreach (var thing in item.ProductID)
            {
                <td>@thing.ProductName $@thing.SalesPrice</td>
            }
            @foreach (var thing in item.serviceList)
            {
                <td>@thing.ServiceName $@thing.SalePrice</td>
            }
            <td>

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
